# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [2]:
a = 10

b = 5.1

add = a + b

type(add)

float

### 2. Is 5 == (3+2)?

In [3]:
5 == (3+2)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [7]:
a = 3
a += 30
print(a)

33

### 4. Convert integer variable *a* to float and check its type

a = 3

In [10]:
a = float(a)

type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [11]:
a = 10
print(5*a)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [12]:
base = 10
height = 5
area = (base*height) / 2
print(area)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If

v = 10

w = 25

x = 70

y = 2

In [15]:
v = 10

w = 25

x = 70

y = 2
z = (v + w) * (x / y)

print(z)

#techincally if you copy and paste the problem and attempt to run it then the answer is an error because you call on varibales before you
#assign a value.
#if you change the sequance of these lines into a correct form than the answer is 1225.0

1225.0

### 8. Swap values of *a* and *b*
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [19]:
a = 10
b = 5
print('a = ',a)
print('b = ',b)

a, b = b, a
print('a = ',a)
print('b = ',b)

a =  10
b =  5
a =  5
b =  10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [20]:
C = 35
F = (9/5 * C) + 32
print(F)

95.0