# **COLLECTION OF VARIABLES**

### 1. Create a list of repeated element (element 2, 48 times)

In [26]:
list = [2] * 48
print(list)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

### 2. Print the second element of the list

list = ["apple","orange","grapes","watermelon"]

In [2]:
list = ["apple","orange","grapes","watermelon"]

list[1]

'orange'

### 3.  Replace the second element of the list with "strawberries"
list = ["apple","orange","grapes","watermelon"]

In [23]:
list = ["apple","orange","grapes","watermelon"]
list.pop(1)
list.insert(1, "strawberries")
print(list)

['apple', 'strawberries', 'grapes', 'watermelon']

### 4. Iterate through the list and print the values

In [24]:
for item in list :
  print(item)

apple
strawberries
grapes
watermelon

### 5. Write a Python code to print squares of all numbers present in a list = [1, 12, 24, 36, 11, 20,50]

In [13]:
list = [1, 12, 24, 36, 11, 20,50]
for num in list:
  num = num * num
  print(num)

1
144
576
1296
121
400
2500

### 6. Pop yellow color from the list below:
List=['white','red', 'blue', 'green','blue','yellow', 'black']

In [15]:
List=['white','red', 'blue', 'green','blue','yellow', 'black']
List.pop(5)
print(List)

['white', 'red', 'blue', 'green', 'blue', 'black']

### 7. Check length of list

list=["a","b","c","d","e"]

In [4]:
list=["a","b","c","d","e"]
len(list)

5

###  8. Create a dictionary with the following information:

brand = Audi

Model = Q2

Year = 1980

In [19]:
myDictionary = {"brand": "Audi",
                "Model": "Q2",
                "Year": '1980'}
print(myDictionary)

{'brand': 'Audi', 'Model': 'Q2', 'Year': '1980'}

### 9. In the above dictionary change the year to 2019

In [21]:
myDictionary["Year"] = '2019'

print(myDictionary)

{'brand': 'Audi', 'Model': 'Q2', 'Year': '2019'}

### 10. Create a set of following elements

1.0, "Hello", 55 , (6,7,8)

In [22]:
set = {"Hello", 55 , (6,7,8)}
print(set)

{'Hello', 55, (6, 7, 8)}