# **USER DEFINED FUNCTION AND LAMBDA FUNCTIONS EXERCISE**

### 1. Write a function to add, subtract, multiply and divide two variables passed to it and print the result

In [3]:
num_1 = 10
num_2 = 15
def math():
  sum = num_1 + num_2
  subtract = num_1 - num_2
  divide = num_1 / num_2
  multiply = num_1 * num_2
  print(sum)
  print(subtract)
  print(divide)
  print(multiply)

math()

25
-5
0.6666666666666666
150

### 2. Write a Python function given range (1,10) both included, that gives the square of every number

In [61]:
def square_of_numbers(start, end):
    squares = []
    for num in range(start, end):
       squares.append(num ** 2)
    return squares

square_of_numbers(1,11)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 3. Write a function to calculate simple interest

simple interest = (Principal amount * Annual Rate of interest * Time(in years))/100

Take values as follows

Principal Amount = 1000

Rate of interest = 3%

Time = 5 years

In [11]:
principal = 1000
rate = 0.03
time = 5

def interest():
  interest = (principal * rate * time)/100
  print(interest)

interest()

1.5

### 4. Write a function to check the number is divisible by 25. The function should return True if divisible and "Not divisible" if not

In [15]:
def divis(num):
  if num % 25 == 0:
    print("True")
  else:
    print("Not Divisible")

divis(100)

True

### 5. Define a function that takes an input, squares it, adds 5, then returns the answer

In [16]:
x = int(input("Number?"))

def func(x):
  x = x ** 2 + 5
  return x

func(x)

Number?2

9

### 6. Using lambda function perform the following task : take an input, squares it, add 5, then return the answer

In [57]:
x = int(input("Number?"))
func = lambda x : (x**2) + 5

func(x)

Number?2

9

### 7. Write a function to calculate the power of a number raised to other ($a^b$)

In [47]:
num = int(input("What is your first num? "))
expo = int(input("What number do you want it raised to? "))

def raised():
  answer = num ** expo
  return answer

raised()

What is your first num? 2
What number do you want it raised to? 3

8

### 8. Write a function to calculate the area of a triangle

area of triangle = 1/2 * base * height

In [44]:
base = 3
height = 6
def area_triangle():
  area = (base * height)/2
  return area

area_triangle()

9.0

### 9. Create a function that takes country as the input and returns "I am from *Country* "

In [42]:
country_1 = input("What is your country? ")

def country(country):
  print("I am from ", country)


country(country_1)

What is your country? America
I am from  America

### 10. Write a function to convert degree Celsius temperature to Fahrenheit

In [19]:
def convert(C):
  f = (9/5 * C) + 32
  print(f)

convert(C=35)

95.0